@charset "utf-8";
/* CSS Document voor display pagina FlexiDating */
.Kol4{
    height : 300px;
}

.Kol6{
    height : 200px;
    width : 500px;
    margin-left : 250px;
}
.Verplicht{
    margin-top: 60px;
/*    border-style: solid;
    border-width: 1px ;
    border-color:#ffe8fa;*/
    width: 100%;
}

#displayFoto {
    border: solid 5px red;
    height : 200px;
    width : 200px;
}
#displaySterrenbeeld {
    border: solid 5px red;
    height : 200px;
    width : 200px; 
}

.Verplicht tbody{
    border: solid 5px red;
    background : linear-gradient(white,#77c4d6);
    display: block;
    padding: 20px;
    width : 500px;
    height : 200px;
}

.Verplicht tr th{
    width: 180px;   
}
.Verplicht tr td{
    width: 270px;
}

.NietVerplicht{
    margin-top: 50px;
    width: 500px;
    
}

div>.Verplicht{
    font-size: 30px;
}

div>.NietVerplicht th{
    font-size: 23px;
    width: 30%;   
}

div>.NietVerplicht td{
    font-size: 23px; 
}

#NietVerplichtLinks{
}

#afspraakMaken{
    width: 800px;
    font-size : 14pt;
    background-color : #77c4d6;
    height : 50px;

.ZoekResultatenDisplay{
    height: 800px;
    background:#eee;
}

