@charset "utf-8";
/* CSS Document voor FlexiDating */

/* NORMALIZE */
html, body, div, section, article, aside, nav{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: hide;
}

tr, td{
    margin: 0px;
    padding: 0px;
}

th{
    text-align: left;
}

.Rij{
    box-sizing: border-box;
}

.Kol3{
    width: 25%;
    height: auto;
    float:left;
}

.Kol4{
    width: 33%;
    height: auto;
    float:left;
}

.Kol6{
    width: 50%;
    height: auto;
    float:left;
}

.Kol8{
    width: 66%;
    height: auto;
    float:left;
}

.Kol8 img{
    height: 80px;
}

.Kol12{
    width: 100%;
    height: auto;
    float:left;
}

/* CLEARFIX */
.clearFix:before, .clearFix:after{
    content: " ";
    display: table;
}

.clearFix:after{
    clear: both;
}

.clearfix{
    *zoom: 1;												/* enkel voor IE 6 en 7 */
}

/* STRUCTUUR & LAY-OUT */
.wikkel{
    width: 980px;
    margin: 0 auto;
}

/* Images */
#background_home{
    background-image: url(../img/BackgroundA.jpg);
    background-size: 100% 100%;
    width: 1520px;
    height: 600px;
}

.DisplayImage{
    display: block;
    width: 200px;
    height: auto;
}

.FooterImage{
    display: block;
    width: 75px;
    height: auto;
}

.banner{
    display: block;
    width: auto;
    height: 77px;
    margin: 0px 0px;
    padding: 0;
}

#logo{
    display: inline-block;
    margin: 0px 0px 0px 100px;
}

.DisplayAfbeeldingen { 
    display: inline-block;
    width: 100px;
    height: auto;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 20px;
}

/* Links */
.HeaderLinks{
    display: inline-block;
    width: 150px;
    margin-top: 2px;
    font-size: 16px;
    font-weight: bold;
    color: #77c4d6;
    text-decoration: none;
}
.HeaderLinks:hover{
    color: #0086ff;
    text-decoration: underline;
}

/* Header */
.Header{
    height: 80px;
    background-color: #ffe8fa;
}

.HeaderNickName{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #0086ff;
}

.HeaderLinks{
    color: #77c4d6;
}

/* Body */
#loginBox{
    margin: 0; 
    margin-left: 40%; 
    margin-right: 40%;
    margin-top: 50px; 
    padding-top: 10px; 
    width: 20%; 
    height: 150px; 
    position: absolute; 
    background: #77c4d6; 
    border: solid #0086ff 2px; 
    z-index: 9; 
    font-family: Helvetica; 
    visibility: hidden; 
}

.ProfielTitel{
    background: #77c4d6;
    padding : 10px 0px;
    text-align : center;
}

.Profiel{
    height : 400px;
}

.ProfielGegevens{
    text-align: center;
}

.ZoekItem{
    margin: 20px 0px;
}

.ZoekLabel{
    width: 100px;
}

.GetallenBox{
    width: 60px;
}

.ZoekRadio{
    margin-top: 20px;
}

.ZoekParameters{
    background:#b3d9ff;
}

#zoekKnop{
    display: inline-block;
}

.ZoekResultaten{
    height: 500px;
    background:#eee;
}

.ZoekResultatenDisplay{
    height: 800px;
    background:#eee;
}

.Display{
    float:left;
    margin: 50px 50px;
}

.afspraakMaken{
    width: 1520px;
    height: 10px;
    text-align: center;
}

#afspraakMaken{
    margin: 0 400px;
    color: red;
}

.Verplicht{
    width: 200px;
    height: auto;;
    margin: 150px auto;
}

.NietVerplicht{
    width: 200px;
    height: auto;
    margin: 150px auto;
}

table.Verplicht>th{
    font-size: 20px;
    font-weight: bolder;
}

table.NietVerplicht>th{
    font-size: 16px;
    font-weight: bold;
}

/* Footer */
.Footer{
    display: block;
    width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
#footerList {
    width: 800px;
    height: 100px;
    padding: 0px;
}

#footer_left{ 
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-left: 25px;
    margin-top: 20px;
}

#footer_center{ 
    display: inline-block;
    vertical-align: top;
    margin-left: 145px;
    padding-top: 45px;
}

#footer_right{ 
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-left: 145px;
    margin-top: 20px;
}

#footer_add{ 
    display: inline-block;
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

