
.Profiel  {
    background-image: url("../img/profielen.jpg") ;
}
.Kol6 {
    background-color: #ffe8fa;
    width: 400px;
    height: 399px; 
}
.Kol6 table tr {
    display : block;
    height : 25px;
    width : 400px;
    margin-top: 25px; 
}
.Kol6 table tr th {
    display: inline-block;
    padding-left: 15px;
    height : 25px;
    width: 130px;

}
.Kol6 table tr td {
    display: inline-block;
    padding-left: 10px; 
    height : 25px;
    width: 200px;
}

.HeaderNickName{
    height : 34px;
}


.knoppen {
    background-color: #77c4d6;
    text-align: center; 
    height: 35px;
    padding-top: 10px;
}
.knoppen input {
    font-size: 12pt;
}

.Footer{
    text-align: center;
    
}#footer_add img{
    height : 119px;
}

